@model Sunnet_NBFC.Models.clsLeadGenerationMaster


<div class="form-group" style="margin-top:20px;">
    <div class="col-md-12">
        <h5> Additional Details</h5>
    </div>
    <hr>

    <div class="row">

        <div class="col-md-3">
            <label for="exampleInputEmail1">Reuested Loan Amount</label>
            @Html.TextBoxFor(model => model.ReuestedLoanAmount, new
            {
                @class = "form-control",
                @placeholder = "Reuested Loan Amount",
                @name = "FName",
                @required = "true",
                @maxlength = "50",
                @type = "number",
                @id = "ReuestedLoanAmount",
                @autocomplete = "off"
            })


        </div>

        <div class="col-md-3">
            <label for="exampleInputEmail1">Requested Loan Tenure</label>
            @Html.TextBoxFor(model => model.ReuestedLoanTenure, new
            {
                @class = "form-control",
                @placeholder = "Reuested Loan Tenure",
                @name = "MName",
                @type = "number",
                @required = "true",
                @id = "ReuestedLoanTenure"

            })
        </div>


        <div class="col-md-3">
            <label for="exampleInputEmail1">Refernce Name</label>
            @Html.TextBoxFor(model => model.RefernceName, new
            {
                @class = "form-control",
                @placeholder = "Refernce Name",
                @name = "FName",
                @required = "true",
                @maxlength = "50",
                @id = "RefernceName",
                @autocomplete = "off"
            })


        </div>


        <div class="col-md-3">
            <label for="exampleInputEmail1">Refence Relation</label>
            @Html.TextBoxFor(model => model.RefenceRelation, new
            {
                @class = "form-control",
                @placeholder = "Refence Relation",
                @name = "MName",
                @required = "true",
                @id = "RefenceRelation"

            })
        </div>

      



    </div>

    <div class="row">

        <div class="col-md-3">
            <label for="exampleInputEmail1">Refence MobileNo</label>
            @Html.TextBoxFor(model => model.RefenceMobileNo, new
            {
                @class = "form-control",
                @placeholder = "Refence MobileNo",
                @name = "MName",
                @required = "true",
                @id = "RefenceMobileNo"

            })
        </div>


        <div class="col-md-3">
            <label for="exampleInputEmail1">Est Month Income</label>
            @Html.TextBoxFor(model => model.EstMonthIncome, new
            {
                @class = "form-control",
                @placeholder = "Est Month Income",
                @name = "FName",
                @required = "true",
                @maxlength = "50",
                @type = "number",
                @id = "EstMonthIncome",
                @autocomplete = "off"
            })


        </div>

        <div class="col-md-3">
            <label for="exampleInputEmail1">Est Month Expense</label>
            @Html.TextBoxFor(model => model.EstMonthExpense, new
            {
                @class = "form-control",
                @placeholder = "Est Month Expense",
                @name = "MName",
                @type = "number",
                @required = "true",
                @id = "EstMonthExpense"

            })
        </div>

    </div>



 

</div>


