@model Sunnet_NBFC.Models.clsLeadGenerationMaster


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<div class="form-group">
    <div class="form-group" style="margin-top:20px;">
        <div class="col-md-12">
            <h5> Guarantor Details</h5>
        </div>
        <hr>

        <div class="row">

            <div class="col-md-4">
                <label for="exampleInputEmail1">First Name</label>
                @Html.TextBoxFor(model => model.G_FirstName, new
                {
                    @class = "form-control",
                    @placeholder = "First Name",
                    @name = "FName",
                    @required = "true",
                    @maxlength = "50",
                    @id = "G_FName",
                    @autocomplete = "off"
                })


            </div>

            <div class="col-md-4">
                <label for="exampleInputEmail1">Middle Name</label>
                @Html.TextBoxFor(model => model.G_MiddleName, new
                {
                    @class = "form-control",
                    @placeholder = "Middle Name",
                    @name = "MName",
                    @required = "true",
                    @id = "G_MName"

                })
            </div>

            <div class="col-md-4">
                <label for="exampleInputEmail1">Last Name</label>
                @Html.TextBoxFor(model => model.G_LastName, new
                {
                    @class = "form-control",
                    @placeholder = "Last Name",
                    @name = "LName",
                    @required = "true",
                    @id = "G_LName"

                })
            </div>
        </div>


        <div class="row">

            <div class="col-md-4">
                <label for="exampleInputEmail1">Gender</label>
                @Html.DropDownListFor(model => model.G_Gender,
                     new List<SelectListItem> {
                new SelectListItem { Value = "0" , Text = "- Select Gender -" },
                new SelectListItem { Value = "Male" , Text = "Male" },
                new SelectListItem { Value = "Female" , Text = "Female" }
                 },
                     new { @class = "form-control", @id = "G_Gender" })


            </div>

            <div class="col-md-4">
                <label for="exampleInputEmail1">Date of Birth</label>
                @Html.TextBoxFor(model => model.G_DOB, new
                {
                    @class = "form-control",
                    @placeholder = "Date of Birth",
                    @name = "Dob",
                    @required = "true",
                    @id = "G_Dob",
                    @type = "Date"

                })
            </div>

            <div class="col-md-4">
                <label for="exampleInputEmail1">Martial Status</label>

                @Html.DropDownListFor(model => model.Gender,
           new List<SelectListItem> {
      new SelectListItem { Value = "0" , Text = "- Select Marital -" },
      new SelectListItem { Value = "Single" , Text = "Single" },
      new SelectListItem { Value = "Married" , Text = "Married" }
       },
           new { @class = "form-control", @id = "G_MartialStatus" })
               
            </div>
        </div>

        <div class="row">


            <div class="col-md-4">
                <label for="exampleInputEmail1">Corrospondance Address</label>
                @Html.TextBoxFor(model => model.G_PresentAddress, new
                {
                    @class = "form-control",
                    @placeholder = "Present Address",
                    @name = "PresentAddress",
                    @required = "true",
                    @id = "G_PresentAddress"

                })
            </div>

            <div class="col-md-4">
                <label for="exampleInputEmail1">Corrospondance Pincode</label>
                @Html.TextBoxFor(model => model.G_PresentPinCode, new
                {
                    @class = "form-control",
                    @placeholder = "Present Pincode",
                    @name = "PresentPincode",
                    @required = "true",

                    @type = "number",
                    @id = "G_PresentPincode"

                })
            </div>

            <div class="col-md-4">
                <label for="exampleInputEmail1">Corrospondance State</label>
                @Html.DropDownListFor(model => model.G_PresentStateId, ViewBag.StateList as SelectList, "- Select State - ",
                     new { @class = "form-control", @id = "G_C_State" })
                @Html.ValidationMessageFor(model => model.G_PresentStateId, "", new { @class = "text-danger" })


            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1">Corrospondance City</label>
                @Html.DropDownListFor(model => model.G_PresentCityId,
                         new SelectList(Enumerable.Empty<SelectListItem>(), "CityId", "CityName"),
                         "Select city", new { @class = "form-control", @id = "G_C_City" })
                @*@Html.DropDownListFor(model => model.G_PresentCityId, ViewBag.CityList as SelectList, new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.G_PresentCityId, "", new { @class = "text-danger" })


            </div>

            <div class="col-md-4">
                <label for="exampleInputEmail1">Permanent Address</label>
                @Html.TextBoxFor(model => model.G_PermanentAddress, new
                {
                    @class = "form-control",
                    @placeholder = "Permanent Address",
                    @name = "PermanentAddress",
                    @required = "true",
                    @id = "G_PermanentAddress"

                })
            </div>

            <div class="col-md-4">
                <label for="exampleInputEmail1">Permanent Pincode</label>
                @Html.TextBoxFor(model => model.G_PermanentPincode, new
                {
                    @class = "form-control",
                    @placeholder = "Permanent Pincode",
                    @name = "PermanentPincode",
                    @required = "true",
                    @id = "G_PermanentPincode"

                })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1">Permanent State</label>

                @Html.DropDownListFor(model => model.G_PermanentStateId, ViewBag.StateList as SelectList, "- Select State -", new
                {
                    @class = "form-control",
                    @id = "G_P_State"
                })
                @Html.ValidationMessageFor(model => model.G_PermanentStateId, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                <label for="exampleInputEmail1">Permanent City</label>

                @Html.DropDownListFor(model => model.G_PermanentCityId,
                         new SelectList(Enumerable.Empty<SelectListItem>(), "CityId", "CityName"),
                         "Select city", new { @class = "form-control", @id = "G_P_City" })
                @*@Html.DropDownListFor(model => model.PermanentCityId, ViewBag.CityList as SelectList, new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.G_PermanentCityId, "", new { @class = "text-danger" })


            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1">Mobile No</label>
                @Html.TextBoxFor(model => model.G_Mobile_No, new
                {
                    @class = "form-control",
                    @placeholder = "Mobile No",
                    @name = "CibilScore",
                    @required = "true",
                    @id = "G_Mobile_No"

                })
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1">Email Id</label>
                @Html.TextBoxFor(model => model.G_Email_Id, new
                {
                    @class = "form-control",
                    @placeholder = "Email Id",
                    @name = "CO_EmailId",
                    @required = "true",
                    @id = "G_EmailId"

                })
            </div>


            <div class="col-md-4">
                <label for="exampleInputEmail1"> Pan No </label>
                @Html.TextBoxFor(model => model.G_PAN, new
                {
                    @class = "form-control",
                    @placeholder = "PanNo",
                    @name = "CO_PanNo",
                    @required = "true",
                    @id = "G_PanNo"

                })
            </div>

            <div class="col-md-4">
                <label for="exampleInputEmail1"> Aadhar No </label>
                @Html.TextBoxFor(model => model.G_Adhaar, new
                {
                    @class = "form-control",
                    @placeholder = "Aadhar No",
                    @name = "G_AadharNo",
                    @required = "true",
                    @id = "G_AadharNo"

                })
            </div>

        </div>


        <div class="row">


            <div class="col-md-4">
                <label for="exampleInputEmail1">
                    Cibil Score
                </label>
                @Html.TextBoxFor(model => model.G_CIBIL, new
                {
                    @class = "form-control",
                    @placeholder = "Cibil Score",
                    @name = "CO_CibilScore",
                    @required = "true",
                    @id = "G_CibilScore",
                    @type = "Number"

                })
            </div>


        </div>






    </div>
    <div class="card-footer" style="margin-top:10px;">
        <button type="submit" class="btn btn-primary" id="btnAdd" onclick="AddGdetails();" value="Add"> Add Guarantor Details </button>

    </div>

    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>F Name</th>
                <th>M Name</th>
                <th>L Name</th>
                <th>Gender</th>
                <th>Dob</th>
                <th>MartialStatus</th>
                <th>Current Address</th>
                <th>Pincode</th>
                <th>State</th>
                <th>City</th>
                <th>Permanent Address</th>
                <th>Pincode</th>
                <th>State</th>
                <th>City</th>
                <th>Mobile No</th>
                <th>Email No</th>
                <th>Pan No</th>
                <th>Aadhar No</th>
                <th>Cibil Score</th>
            </tr>
        </thead>
        <tbody>

            @if (ViewBag.LeadGenerationdataModels != null)
            {
                var m = ViewBag.LeadGenerationdataModels;


                foreach (var DataModel in m)
                {
<tr>
</tr>                }

            }


        </tbody>

    </table>

</div>

<script type="text/javascript">
    function AddGdetails() {

        debugger

        var customers = new Array();
        var customers1 = new Array();
        $("#example1 TBODY TR").each(function () {
            var row = $(this);
            var customer = {};

            customer.G_FirstName = row.find("TD").eq(0).html();
            customer.G_MiddleName = row.find("TD").eq(1).html();
            customer.G_LastName = row.find("TD").eq(2).html();
            customer.G_Gender = row.find("TD").eq(3).html();
            customer.G_DOB = row.find("TD").eq(4).html();
            customer.G_Marital_Status = row.find("TD").eq(5).html();


            customer.G_PresentAddress = row.find("TD").eq(6).html();
            customer.G_PresentPinCode = row.find("TD").eq(7).html();
            customer.G_PresentStateId = row.find("TD").eq(8).html();
            customer.G_PresentCityId = row.find("TD").eq(9).html();




            customer.G_PermanentAddress = row.find("TD").eq(10).html();
            customer.G_PermanentPincode = row.find("TD").eq(11).html();
            customer.G_P_State = row.find("TD").eq(11).html(12);
            customer.G_P_City = row.find("TD").eq(12).html(13);

            customer.G_Mobile_No = row.find("TD").eq(14).html();
            customer.G_EmailId = row.find("TD").eq(15).html();
            customer.G_PanNo = row.find("TD").eq(16).html();
            customer.G_AadharNo = row.find("TD").eq(17).html();
            customer.G_CibilScore = row.find("TD").eq(18).html();
            if (customer.G_FirstName != "No data available in table") {
                customers.push(customer);
            }

        });

        var G_Mobile_No = $("#G_Mobile_No").val();
        var G_AadharNo = $("#G_AadharNo").val();

        var flag = 0;
        if (customers.length != 0) {
            debugger


            for (let i = 0; i < customers.length; i++) {

                if (customers[i].G_Mobile_No == G_Mobile_No) {

                    flag = 1;
                }

            }
        }



        if (flag == 0) {

            var txtFName = $("#G_FName").val();
            var txtMName = $("#G_MName").val();
            var txtLName = $("#G_LName").val();
            var txtG_Gender = $("#G_Gender option:selected").val();
            var txtDob = $("#G_Dob").val();
            var txtG_MartialStatus = $("#G_MartialStatus option:selected").val();

            var G_PresentAddress = $("#G_PresentAddress").val();
            var G_PresentPincode = $("#G_PresentPincode").val();
            var G_C_State = $("#G_C_State option:selected").val();
            var G_C_City = $("#G_C_City option:selected").val();


            var G_PermanentAddress = $("#G_PermanentAddress").val();
            var G_PermanentPincode = $("#G_PermanentPincode").val();
            var G_P_State = $("#G_P_State option:selected").val();
            var G_P_City = $("#G_P_City option:selected").val();
            var G_Mobile_No = $("#G_Mobile_No").val();
            var G_EmailId = $("#G_EmailId").val();
            var G_PanNo = $("#G_PanNo").val();
            var PANregex = /[A-Z]{5}[0-9]{4}[A-Z]{1}$/;
            var G_AadharNo = $("#G_AadharNo").val();
            var G_CibilScore = $("#G_CibilScore").val();




            if (txtFName.length == 0) {
                alert("Please enter gurantor first name");

            } else if (txtMName.length == 0) {
                alert("Please enter gurantor middle name");

            } else if (txtLName.length == 0) {
                alert("Please enter gurantor last name");

            } else if (txtG_Gender.length == 0) {
                alert("Please enter gurantor gender");

            } else if (txtDob.length == 0) {
                alert("Please enter gurantor DOB");

            } else if (txtG_MartialStatus.length == 0) {
                alert("Please enter gurantor matrial status");

            } else if (G_PresentAddress.length == 0) {
                alert("Please enter gurantor PresentAddress");

            } else if (G_PresentPincode.length == 0) {
                alert("Please enter gurantor matrial PresentPincode");

            } else if (G_C_State.length == 0) {
                alert("Please enter gurantor state");


            } else if (G_C_City.length == 0) {
                alert("Please enter gurantor city");

            } else if (G_PermanentAddress.length == 0) {
                alert("Please enter gurantor PermanentAddress");

            } else if (G_PermanentPincode.length == 0) {
                alert("Please enter gurantor matrial PermanentPincode");

            } else if (G_P_State.length == 0) {
                alert("Please enter gurantor state");


            } else if (G_P_City.length == 0) {
                alert("Please enter gurantor city");


            } else if (G_Mobile_No.length == 0) {
                alert("Please enter gurantor mobile no");


            } else if (G_EmailId.length != 0) {
                alert("Please enter gurantor valid email id");


            } else if (G_PanNo.length != 10) {
                alert("Please enter gurantor pan no");


            } else if (!PANregex.test(G_PanNo)) {
                alert("Invalid PAN pan no");

            } else if (G_AadharNo.length != 12) {
                alert("Please enter gurantor Aadhar No");


            } else if (G_CibilScore.length == 0) {
                alert("Please enter gurantor CibilScore");


            } else {
                debugger
                //Get the reference of the Table's TBODY element.
                var tBody = $("#example1 > TBODY")[0];

                //Add Row.
                var row = tBody.insertRow(-1);

                //Add Name cell.
                var cell = $(row.insertCell(-1));
                cell.html(txtFName);

                cell = $(row.insertCell(-1));
                cell.html(txtMName);

                cell = $(row.insertCell(-1));
                cell.html(txtLName);


                cell = $(row.insertCell(-1));
                cell.html(txtG_Gender);

                cell = $(row.insertCell(-1));
                cell.html(txtDob);

                cell = $(row.insertCell(-1));
                cell.html(txtG_MartialStatus);



                cell = $(row.insertCell(-1));
                cell.html(G_PresentAddress);

                cell = $(row.insertCell(-1));
                cell.html(G_PresentPincode);

                cell = $(row.insertCell(-1));
                cell.html(G_C_State);

                cell = $(row.insertCell(-1));
                cell.html(G_C_City);

                var txtFName = $("#G_FName").val();
                var txtMName = $("#G_MName").val();
                var txtLName = $("#G_LName").val();
                var txtG_Gender = $("#G_Gender option:selected").val();
                var txtDob = $("#G_Dob").val();
                var txtG_MartialStatus = $("#G_MartialStatus").val();

                var G_PresentAddress = $("#G_PresentAddress").val();
                var G_PresentPincode = $("#G_PresentPincode").val();
                var G_C_State = $("#G_C_State option:selected").val();
                var G_C_City = $("#G_C_City option:selected").val();


                var G_PermanentAddress = $("#G_PermanentAddress").val();
                var G_PermanentPincode = $("#G_PermanentPincode").val();
                var G_P_State = $("#G_P_State option:selected").val();
                var G_P_City = $("#G_P_City option:selected").val();
                var G_Mobile_No = $("#G_Mobile_No").val();
                var G_EmailId = $("#G_EmailId").val();
                var G_PanNo = $("#G_PanNo").val();
                var G_AadharNo = $("#G_AadharNo").val();
                var G_CibilScore = $("#G_CibilScore").val();

                debugger
                //Get the reference of the Table's TBODY element.
                var tBody = $("#example1 > TBODY")[0];

                //Add Row.
                var row = tBody.insertRow(-1);

                //Add Name cell.
                var cell = $(row.insertCell(-1));
                cell.html(txtFName);

                cell = $(row.insertCell(-1));
                cell.html(txtMName);

                cell = $(row.insertCell(-1));
                cell.html(txtLName);


                cell = $(row.insertCell(-1));
                cell.html(txtG_Gender);

                cell = $(row.insertCell(-1));
                cell.html(txtDob);

                cell = $(row.insertCell(-1));
                cell.html(txtG_MartialStatus);



                cell = $(row.insertCell(-1));
                cell.html(G_PresentAddress);

                cell = $(row.insertCell(-1));
                cell.html(G_PresentPincode);

                cell = $(row.insertCell(-1));
                cell.html(G_C_State);

                cell = $(row.insertCell(-1));
                cell.html(G_C_City);
                cell = $(row.insertCell(-1));
                cell.html(G_PermanentAddress);

                cell = $(row.insertCell(-1));
                cell.html(G_PermanentPincode);

                cell = $(row.insertCell(-1));
                cell.html(G_P_State);

                cell = $(row.insertCell(-1));
                cell.html(G_P_City);



                cell = $(row.insertCell(-1));
                cell.html(G_Mobile_No);

                cell = $(row.insertCell(-1));
                cell.html(G_EmailId);


                cell = $(row.insertCell(-1));
                cell.html(G_PanNo);

                cell = $(row.insertCell(-1));
                cell.html(G_AadharNo);

                cell = $(row.insertCell(-1));
                cell.html(G_CibilScore);

                //Add Button cell.
                cell = $(row.insertCell(-1));
                var btnRemove = $("<input />");
                btnRemove.attr("type", "button");
                btnRemove.attr("onclick", "Remove(this);");
                btnRemove.val("Remove");
                cell.append(btnRemove);
            }
























        } else {

            alert("Gurantor already added")
        }










        cell = $(row.insertCell(-1));
        cell.html(G_PermanentAddress);

        cell = $(row.insertCell(-1));
        cell.html(G_PermanentPincode);

        cell = $(row.insertCell(-1));
        cell.html(G_P_State);

        cell = $(row.insertCell(-1));
        cell.html(G_P_City);



        cell = $(row.insertCell(-1));
        cell.html(G_Mobile_No);

        cell = $(row.insertCell(-1));
        cell.html(G_EmailId);


        cell = $(row.insertCell(-1));
        cell.html(G_PanNo);

        cell = $(row.insertCell(-1));
        cell.html(G_AadharNo);

        cell = $(row.insertCell(-1));
        cell.html(G_CibilScore);

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<input />");
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.val("Remove");
        cell.append(btnRemove);
    }
</script>


<script type="text/javascript">

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to delete: " + name)) {
            //Get the reference of the Table.
            var table = $("#example1")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };


</script>
